*{
  margin: 0;
}
.image-slider-container {
    margin: 0 auto;
    width: 60%;
    padding: 20px;
    border-radius: 15px;
    margin-right: 10%;

  }
  
  .image-slider-container .slick-prev:before,
  .image-slider-container .slick-next:before {
    color: black;

  
  }
  .img{
    height: 45vh;
    width: 100%;
    border-radius: 15px;
  }
  .card1{
    height:45vh;
    background-color: #ffffff;
    border-color:gray ;
    border-width: 1px;
    border-style: solid;
    overflow: hidden;
    width: 20%;
    margin: 20px;
    margin-left: 10%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  }
  .main-card{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
   box-sizing: border-box;
   flex-wrap: wrap;
  }
  .card2{
    height:45vh;
    background-color: #ffffff;
    border-color:gray ;
    border-width: 1px;
    border-style: solid;
  
    margin: 5px;
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  }
  .card-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
   
   
  }
  .items{
    font-size: 20px;
    
    color: gray;
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    
  }
  .container{
    min-height: 165vh;
    background-color: #f5f5f5;
    width: 100%;
    box-sizing: border-box;
  }
  
  .four-card{
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100%;
  }
  .four-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
   
  }
  .padding-four{
    margin: 10px;
    padding: 8px;
    transition: all 0.2s;
  }
  .hover:hover{
    transform: scale(1.05);
  }
  .four-img{
    height: 90px;
  }
  .four-span{
    font-weight: bold;
    font-size: 12px;
  }
  .small-card{
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.2s;
  }
  .small-img{
    height:180px;
  }
  .small-span{
    font-weight: bold;
    
    
  }
  .small-card-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .head{
    margin-left: 3%;
   
    font-size: 30px;
    
  }
.four-card-heading{
  font-size: 20px;
}
  .color1{
    color: #000000;
    text-decoration: none;
  }
  .img-hyper{
    color: #000000;
    text-decoration: none;
  }
  @media screen and (max-width:320px) {
    .card-container{
      display: none;

    }
    .card2{
      height:47vh;
      background-color: #ffffff;
      border-color:gray ;
      border-width: 1px;
      border-style: solid;
      
      padding-bottom: 10px;
      border-radius: 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      width: 100%;
      box-sizing: border-box;
      margin-right: 20px;
    }
    .four-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      box-sizing: border-box;
    }
    .main-card{
      width: 100%;
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
     box-sizing: border-box;
     flex-wrap: wrap;
     align-items: center;
     margin-left:25px;
     margin-right: 50px;
    }
    .four-img {
      height:75px;
    }
    .cards{
      box-sizing: border-box;
     width: 98%;
     margin-right: 60px;
    }
    .container{
      min-height: 140vh;
      background-color: #f5f5f5;
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
    }
.small-img{
  height:150px;
}
  }